<h1>register</h1>
<form action="/register" method="post">
    <section>
        <input type="text" name="name" id="name" required placeholder="Name">
    </section>
    <section>
        <input type="text" name="email" id="email" required placeholder="email">
    </section>
    <section>
        <input type="password" name="password" id="password" required placeholder="password">
    </section>
    <button type="submit">submit</button>
</form>
<a href="/login">Login</a>